* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* shared styles */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h3{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color:#FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    cursor: pointer;
}
#Only-contact-btn{
    background-color:white;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    color: #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
    margin-top: 50px;
}

/* main styles */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    
}

nav{
    width: 71%;  /*80% screen kore nav size 1140px rtotal width 1140/1697=68% */
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
    
    
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner{
    display: flex;
    margin: 47px 38px 0 230px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h3{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #474747;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
    
}
#banner .banner-image img{
   max-width: 585px;
   vertical-align: middle;
   height: 676px;
    
}

#about , #skills, #resume{
    padding-top: 130px;
}

#about .about-container{
    width:71%;
    max-width:1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    
}


#skills .skill-container{
    width:71%;
    max-width:1140px;
    margin: 0 auto;
}

#skills .skill-container .skill-box{
    display: flex;
    gap: 24px;
    
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 #0000001f;
    

}
.skill-box .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume .resume-container{
    width:71%;
    max-width:1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
#resume .resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-container .resume-card{
    max-width: 511px;
    margin-right: 71px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card .card-text{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

footer{
    background-color: #FFF8F3;
    padding: 130px 0;
    margin-top: 113px;
}

footer #footer-container{
    width:71%;
    max-width:1140px;
    margin: 0 auto;
    display: flex;
    gap: 112px;
}

#footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}


#footer-container .social{
    max-width: 562px;
}

#footer-container .social p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
#footer-container .icons a{
    margin-right: 24px;
}

#footer-container form input[type="text"], #footer-container form input[type="email"], #footer-container form textarea{
    width: 461px;
    padding: 18px 30px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
}