* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* shared styles */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h3{
    font-size: 45px;
    font-weight: 800;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color:#FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



/* main styles */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 68%;  /*80% screen kore nav size 1140px rtotal width 1140/1697=68% */
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
    
    
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}